In [1]:
import pandas as pd

In [3]:
month_df = pd.read_csv("Data/month_df.csv")
print(len(month_df))
month_df.head()

4

   Trip Year Trip Month  Total Trips
0       2022       June      3343273
1       2022        May      2865275
2       2023       June      3448977
3       2023        May      3453005

In [8]:
month_df['Month-Year'] = month_df['Trip Month'] + ' ' + month_df['Trip Year'].astype(str)
print(month_df)

   Trip Year Trip Month  Total Trips Month-Year
0       2022       June      3343273  June 2022
1       2022        May      2865275   May 2022
2       2023       June      3448977  June 2023
3       2023        May      3453005   May 2023

In [11]:
month_df.to_csv(r'Data/month_df2.csv')
print(len(month_df))

4

                                                                 Date  \
Trip Year Trip Month End Station           End Lat   End Lon
2022      June       1 Ave & E 110 St      40.792327 -73.938300     7
                                                     -73.938300  2355
                     1 Ave & E 16 St       40.732219 -73.981656  6713
                                                     -73.981656    15
                     1 Ave & E 18 St       40.733812 -73.980544    29
...                                                               ...
2023      May        Wythe Ave & N 13 St   40.720000 -73.960000   955
                                           40.722767 -73.957021   472
                     Yankee Ferry Terminal 40.687066 -74.016756  1527
                                                     -74.016756   167
                     York St & Marin Blvd  40.716615 -74.042412     3

                                                                 Start Station  \
Trip Year Trip Month End Station           End Lat   End Lon
2022      June       1 Ave & E 110 St      40.792327 -73.938300              7
                                                     -73.938300           2355
                     1 Ave & E 16 St       40.732219 -73.981656           6713
                                                     -73.981656             15
                     1 Ave & E 18 St       40.733812 -73.980544             29
...                                                                        ...
2023      May        Wythe Ave & N 13 St   40.720000 -73.960000            955
                                           40.722767 -73.957021            472
                     Yankee Ferry Terminal 40.687066 -74.016756           1527
                                                     -74.016756            167
                     York St & Marin Blvd  40.716615 -74.042412              3

                                                                 Start Lat  \
Trip Year Trip Month End Station           End Lat   End Lon
2022      June       1 Ave & E 110 St      40.792327 -73.938300          7
                                                     -73.938300       2355
                     1 Ave & E 16 St       40.732219 -73.981656       6713
                                                     -73.981656         15
                     1 Ave & E 18 St       40.733812 -73.980544         29
...                                                                    ...
2023      May        Wythe Ave & N 13 St   40.720000 -73.960000        955
                                           40.722767 -73.957021        472
                     Yankee Ferry Terminal 40.687066 -74.016756       1527
                                                     -74.016756        167
                     York St & Marin Blvd  40.716615 -74.042412          3

                                                                 Start Lon  \
Trip Year Trip Month End Station           End Lat   End Lon
2022      June       1 Ave & E 110 St      40.792327 -73.938300          7
                                                     -73.938300       2355
                     1 Ave & E 16 St       40.732219 -73.981656       6713
                                                     -73.981656         15
                     1 Ave & E 18 St       40.733812 -73.980544         29
...                                                                    ...
2023      May        Wythe Ave & N 13 St   40.720000 -73.960000        955
                                           40.722767 -73.957021        472
                     Yankee Ferry Terminal 40.687066 -74.016756       1527
                                                     -74.016756        167
                     York St & Marin Blvd  40.716615 -74.042412          3

                                                                 Type
Trip Year Trip Month End Station           End Lat   End Lon
2022      June       1 Ave & E 110 St      40.792327 -73.938300     7
                                                     -73.938300  2355
                     1 Ave & E 16 St       40.732219 -73.981656  6713
                                                     -73.981656    15
                     1 Ave & E 18 St       40.733812 -73.980544    29
...                                                               ...
2023      May        Wythe Ave & N 13 St   40.720000 -73.960000   955
                                           40.722767 -73.957021   472
                     Yankee Ferry Terminal 40.687066 -74.016756  1527
                                                     -74.016756   167
                     York St & Marin Blvd  40.716615 -74.042412     3

[9848 rows x 5 columns]

9848